<p id="footer_translates"></p>
<p class="text-small text-grey-dk-100 mb-0">Copyright © 2020 Wsldl-pg Documentation Team. Distributed by <a href="https://github.com/wsldl-pg/docs/tree/master/LICENSE">Creative Commons Attribution 4.0 International License.</a></p>

<script type="text/javascript">
   window.addEventListener("load", addTranslates);
   trans_langs = [["ja-JP", "日本語"],["zh-CN", "简体中文"],["ko-KR", "한국어"],["pt-BR", "Português Brasileiro"]];
   
    function addTranslates() {
      target = document.getElementById("footer_translates");
      pathArr = location.pathname.split("/");

      if (pathArr[2] == "locale") {
          if (pathArr[3] != "Translations") {
              pathArr.splice(2, 2);
              enPath = pathArr.join("/");
              target.innerHTML = "View this page in <a href='" + enPath + "'>English</a>";
          }
      } else {
          target.innerHTML = "View this page in: ";
          trans_langs.forEach(element => {
            elementPathArr = pathArr.concat();
            elementPathArr.splice(2, 0, "locale/" + element[0]);
            elementPath = elementPathArr.join("/");
            target.innerHTML += " <a href='" + elementPath + "'>" + element[1] +  "</a> |";
          });
      }
    }
</script>
