<!--
<link href="{{ '/module/pio/static/pio.css' | absolute_url }}" rel='stylesheet' type='text/css'/>	
<script src="{{ '/module/pio/static/l2d.js' | absolute_url }}"></script>	
<script src="{{ '/module/pio/static/pio.js' | absolute_url }}"></script>	
<script>	
var pio = new Paul_Pio({	
"mode": "draggable",	
"hidden": true,	
"content": {	
"welcome": ["欢迎来到保罗的小宇宙！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],	
"link": "https://paul.ren/about",	
"custom": [{	
"selector": ".comment-form",	
"text": "欢迎参与本文评论，别发小广告噢~"	
}, {	
"selector": ".home-social a:last-child",	
"text": "在这里可以了解博主的日常噢~"	
}, {	
"selector": ".post-item a",	
"type": "read"	
}, {	
"selector": ".post-content a, .page-content a",	
"type": "link"	
}]	
},	
"night": "single.night()",	
"model": ["https://paugram.com/usr/plugins/Pio/models/416/model.json"]	
});	
</script>
<div class="pio-container left">
  <div class="pio-action"></div>
  <canvas id="pio" width="350" height="350"></canvas>
</div>
-->
